body{
    border: 0px;
    display:block;
}

.password-root{
    margin-top: 10%;
}

.Password-settings{
    margin-top: 3rem;
    margin-bottom:3rem;
}

.password-length-input{
    border-radius: 5px;
}

.password-inputs{
    margin: 1rem 0rem;
}